*{
    margin: 0;
    padding: 0;
}

body{
    margin: 1rem;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

article{
    background-color: grey;
    width: 80vw;
    height: 15rem;
    border-radius: 12px;
    color: white;
    display: flex;
    margin: 1rem;
}

#imagen{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 10rem;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#datos{
    margin-left: 1rem;
}

#nombre{
    margin: 1rem;
}

#estado{
    margin: 1rem;
    margin-top: -.5rem;
}

p{
    margin: 1rem;
    margin-top: 2rem;
    color: bisque;
}

#ultimaLocalizacion{
    margin: 1rem;
    margin-top: -.5rem;
}

p{
    margin: 1rem;
    margin-top: 2rem;
    color: bisque;
}

#primeraVez{
    margin: 1rem;
    margin-top: -.5rem;
}

